<!-- -->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>
      <span ion-text>{{ trip.name }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">
  <!--slides-->
  <ion-slides class="to-top" pager>
    <ion-slide *ngFor="let image of trip.images">
      <img [src]="image" alt="">
    </ion-slide>
  </ion-slides>

  <!--services-->
  <ion-grid class="border-bottom dark-bg">
    <ion-row>
      <ion-col text-center>
        <div class="text-sm">
          <div>
            <ion-icon name="time" class="text-white"></ion-icon>
            <span ion-text color="light">{{ trip.time }}</span>
            <ion-icon name="checkbox-outline" margin-left class="text-white" *ngIf="trip.free_cancellation"></ion-icon>
            <span ion-text color="light" *ngIf="trip.free_cancellation">Free cancellation</span>
            <ion-icon name="list-box" margin-left class="text-white" *ngIf="trip.electric_voucher"></ion-icon>
            <span ion-text color="light" *ngIf="trip.electric_voucher">Electronic voucher</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--high light-->
  <div class="border-bottom" padding>
    <span ion-text color="dark" class="bold">Start Date</span>
    <ul class="highlight">
      <li>
        <ion-icon name="checkmark" class="text-green"></ion-icon>
        <span ion-text color="primary">{{ result.start_date | date: 'medium'}}</span>
      </li>
    </ul>
  </div>

  <div class="border-bottom" padding>
    <span ion-text color="dark" class="bold">End Date</span>
    <ul class="highlight">
      <li>
        <ion-icon name="checkmark" class="text-green"></ion-icon>
        <span ion-text color="primary">{{ result.end_date | date: 'medium'}}</span>
      </li>
    </ul>
  </div>

  <!--booking form-->
  <!--div class="booking-form card round" margin>
    <div class="border-bottom" padding>
      <h5>{{ trip.sub_name }}</h5>

      <ion-grid class="filters" no-padding margin-top>
        <ion-row>
          <ion-col class="adult" width-70>
            <span ion-text color="primary"><strong>{{ trip.price_adult | currency:'USD':true }}</strong> Adults</span>
          </ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusAdult()" [hidden]="adults < 2"
                      color="secondary"></ion-icon>
          </ion-col>
          <ion-col width-10 text-center>{{ adults }}</ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="add-circle" class="text-2x" tappable (click)="plusAdult()" color="secondary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row margin-top>
          <ion-col width-70>
            <span ion-text color="primary"><strong>{{ trip.price_child | currency:'USD':true }}</strong> Child (0-12 years)</span>
          </ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusChildren()" [hidden]="children < 1"
                      color="secondary"></ion-icon>
          </ion-col>
          <ion-col width-10 text-center>{{ children }}</ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="add-circle" class="text-2x" tappable (click)="plusChildren()" color="secondary"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div padding class="form-bottom">

      <button ion-button class="pull-right" color="secondary" tappable (click)="checkout()">Book Now {{ adults * trip.price_adult +
        children * trip.price_child | currency:'USD':true }}
      </button>
      <div class="clear"></div>
    </div>
  </div-->

  <!--description-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">DESCRIPTION</span>
    <p ion-text>{{ result.title }}</p>
  </div>

  <!--address-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">LOCATION</span>
    <p ion-text>{{ result.location }}</p>
  </div>

  <div #map id="map"></div>  

  <ion-item *ngFor="let comment of result.commentsdata">
    <ion-avatar item-start>
      <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
    </ion-avatar>
    <h2>{{comment.user.name}}</h2>
    <ion-card-content>
      <p>{{comment.comment}}</p>
    </ion-card-content>
  </ion-item>

  <ion-item>
    <ion-label floating>Enter Comment</ion-label>
    <ion-input name="comment" [(ngModel)]="comment"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button full (click)="addcomment()">Add comment</button>
  </ion-item>


  
</ion-content>
