<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="settings"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Woohoo</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear>
        <img style="width: 25px;margin-right: 8px;" src="assets/barcode.png" />
      </button>
    </ion-buttons>
  </ion-navbar>

  <!--  -->
  <!----ion-toolbar padding color="light">
    <p ion-text no-margin class="text-white">
      <strong>4</strong> results found!
    </p>
  </ion-toolbar-->

</ion-header>

<ion-content class="trips detail-bg">
  

  <div padding>
    <button ion-button round full (click)="newPost()">Register Event</button>
  </div>

  <ion-card *ngFor="let trip of result">
    

    <ion-item>
      <ion-avatar item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
      </ion-avatar>
      <h2>{{trip.user.name}}</h2>
      <p>{{trip.created_at | date }}</p>
    </ion-item>
  
    <img  (click)="viewDetail(trip.id)" src="assets/img/trip/thumb/trip_5.jpg">
  
    <ion-card-content>
      <p>{{trip.title}}</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="ios-thumbs-up"></ion-icon>
          <div (click)="like(trip.id , trip.likedata.id , $event)" id="{{trip.id}}like">{{trip.likes_count}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{trip.comments_count}} Comments</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="star"></ion-icon>
          <div *ngIf="trip.interestval == true; else elseblock" (click)="showinterest(trip.id)" id="{{trip.id}}interest">Interested</div>
          <ng-template #elseblock><div (click)="showinterest(trip.id)" id="{{trip.id}}interest">Interest</div></ng-template>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          {{trip.timeago}} ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>


  <!----div class="trip card" *ngFor="let trip of trips" tappable margin-bottom>
    <div class="padding-sm primary-bg">
      <ion-icon name="time" class="text-white"></ion-icon>
      <span ion-text class="text-white">{{ trip.date }}</span>
    </div>
    <div (click)="viewDetail(trip.id)" class="background border-bottom" [ngStyle]="{'background-image': 'url(' + trip.thumb + ')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ trip.name }}</h6>
          
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="padding-sm">
      <span (click)="viewDetail(trip.id)" class="pull-left" ion-text>{{ trip.name }}</span>
      <span class="pull-right text-white" ion-text>
        <ion-icon name="chatboxes" style="font-size: 30px;color: #000;" ></ion-icon>
        <ion-icon name="heart" style="font-size: 30px;color: #000;"></ion-icon>
        <ion-icon name="person" style="font-size: 30px;color: #000;"></ion-icon>
      </span>
      <p style="text-align: left;margin-top: 45px;">
          test test test test test test test test test test test test test test test test test test test test  ....
      </p>
    </div>
  </div-->
</ion-content>
