page-categories {
    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
    
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 120px;
            width: auto;
        }
    }
}


  
  
  
  .positioner {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .caticon {
    position: absolute;
    right: -25px;
    bottom: -30px;
    font-size: 60px;
    opacity: 0.7;
    color:   #737373;    

  }

  .categorytitle {
    padding: 7%;

}

.categorytitle h4{
    font-size: 16px;
    color: #808080


}