<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Post</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <ion-item>
    <ion-label color="primary" floating>Event Title</ion-label>
    <ion-input name="event_title" [(ngModel)]="event_title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Enter Address</ion-label>
    <ion-input name="address" [(ngModel)]="address" id="txtHome" type="text"></ion-input>
</ion-item>
  <ion-item>
    <ion-label floating>Start Date</ion-label>
    <ion-datetime name="start_date" [(ngModel)]="start_date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label floating>End Date</ion-label>
    <ion-datetime name="end_date" [(ngModel)]="end_date"></ion-datetime>
  </ion-item>

    <ion-item>
        <ion-label floating>Categories</ion-label>
        <ion-select [(ngModel)]="category" multiple="true">
          <ion-option *ngFor="let category of categories" [value]="category.id">{{category.title}}</ion-option>
        </ion-select>
      </ion-item>

<ion-icon (click)="storepic()" style="font-size: 109px;text-align: center;display: flex;margin: auto;width: 83px;" name="camera"></ion-icon>


    <ion-grid>
        <ion-row>
          <ion-col *ngFor="let img of imageLists; index as i">
              <span class="close" (click)="imgremove(i)">&times;</span>
            <img [src]="img">
          </ion-col>
        </ion-row>
        </ion-grid>


</ion-content>
<ion-footer>
  <button ion-button full (click)="storepost()">Add</button>
</ion-footer>
